<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Exemplo Django</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }
        .container {
            display: flex;
            gap: 20px;
        }
        .box {
            width: 300px;
            height: 200px;
            border: 1px solid #ccc;
            padding: 10px;
        }
        textarea {
            width: 100%;
            height: 120px;
        }
    </style>
</head>
<body>

<div class="container">

         <!-- Caixa de entrada  -->
  <form method="POST">
        {% csrf_token %}
        <div class="input-group">
            <label>Digite uma frase ou nome:</label>
            <input type="text" name="palavra" value="{{ palavra }}" placeholder="YIAAHA" required>
        </div>
        
        <button type="submit">CONTAR AGORA</button>
    </form> 

    <!--  Caixa de resultado -->
    <div class="box">
        
        <!--  Exemplo usando variável -->
        

        <!--  Exemplo com condição  -->
        {% if total_letters is not None %}
            <div class="resultado">Total de letras: {{ total_letters }}</div>
        {% endif %}  

        

    </div>

</div>

</body>
</html>
